.filter {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    margin-right: -8px;
    margin-top: -15px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    @include centered-flex();
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__item {
  @media screen and (max-width: 767px) {
    margin-right: 8px;
    margin-top: 15px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.filter__btn {
  min-width: 73px;
  height: 38px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  @include font($semibold, 16px, 1.62);
  color: $secondary-text-color;
  background-color: $secondary-bg-color;
  transition: box-shadow $timing $function, color $timing $function,
    background-color $timing $function;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: $primary-bg-white-color;
    background-color: $accent-color;
  }
}
