.page-header {
  width: 100%;
  background-color: $primary-bg-white-color;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  min-height: 60px;

  @media screen and (max-width: 767px) {
    @include centered-flex($justify: space-between);
  }
}
