.service {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.service__item {
  position: relative;

  &:not(:last-child) {
    margin-right: $card-gap;
  }
}

.service__label {
  @include centered-flex();
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service__description {
  font-weight: $bold;
  text-transform: uppercase;
  color: $primary-bg-white-color;
}
