$font-family-base: Roboto, sans-serif;
$font-family-logo: Raleway, sans-serif;
$normal: 400;
$semibold: 500;
$bold: 700;
$extra-bold: 900;
$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$accent-color-hovered: #188ce8;
$nav-text-color: #000000;
$contacts-text-color: rgba(255, 255, 255, 0.6);
$primary-bg-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$card-gap: 30px;
$border-color: #afb1b8;
$timing: 250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);
